div{
    background-color:rgb(156, 224, 252);
    border: solid;
}

h1.q1{
   
    background-color:rgb(9, 119, 230);
   

}
h2.q2{
    margin:2px;
    background-color:rgb(147, 160, 172);
} 
h2.q4{
    background-color:rgb(147, 160, 172);
}